section.achieve
    .container
        ul.achieve__list
            li.achieve__card.text__1
                div.inner
                    span.icon-download
                    h3.achieve__count 250k
                    p.achieve__text App Download
            li.achieve__card.text__2
                div.inner
                    span.icon-users
                    h3.achieve__count 100k
                    p.achieve__text Active User
            li.achieve__card.text__3
                div.inner
                    span.icon-bookmark
                    h3.achieve__count 20+
                    p.achieve__text Best Awards
            li.achieve__card.text__4
                div.inner
                    span.icon-heart
                    h3.achieve__count 95%
                    p.achieve__text Happy Users

