section.feature
  .featur__img__phone
    img(src="img/phones.png", alt="")
  .feature__text__icon
    .feature__text
      .feature__title
        h1.feature__title App Core
        h2.feature__title-2 Features
      p.feature__para It is a long established fact that a reader will be distracted its by the readable content of a page when at its layout.
    .feature__grid__container
      .grid-item
        icon.icon-brilliant
        h1.grid__zogo Premium Quality
        p.grid__para Lorem has survived not only five to but also the leap.
      .grid-item
        icon.icon-user_friendly
        h1.grid__zogo Retina Ready
        p.grid__para Lorem has survived not only five top itypesetting changed.
      .grid-item
        icon.icon-security
        h1.grid__zogo Top Class Security
        p.grid__para Lorem has survived not only five top but also the leap.
      .grid-item
        icon.icon-
        h1.grid__zogo Excellent Support
        p.grid__para Lorem has survived not only five top itypesetting changed.