section.overview
  .container.overview__container
    .overview__card
      .card-icon__wrap
        .card__icon.icon--green
          span.icon
            i.icon-edit
      .card__info
        h3.card__title Clean Desing
        p.card__desc
          | Lorem has survived not only five top centuries, but also the leap intoelect
    .overview__card
      .card-icon__wrap
        .card__icon.icon--blue
          span.icon
            i.icon-user_friendly
      .card__info
        h3.card__title User Friendly
        p.card__desc
          | Lorem has survived not only five top centuries, but also the leap intoelect
    .overview__card
      .card-icon__wrap
        .card__icon.icon--pink
          span.icon
            i.icon-setting
      .card__info
        h3.card__title Easy to Use
        p.card__desc
          | Lorem has survived not only five top centuries, but also the leap intoelect
    .overview__card
      .card-icon__wrap
        .card__icon.icon--orange
          span.icon
          i.icon-layer
      .card__info
        h3.card__title Branding
        p.card__desc
          | Lorem has survived not only five top centuries, but also the leap intoelect