script.
    // Look for .hamburger
    var hamburger = document.querySelector(".hamburger");
    var mobile = document.querySelector(".mobile");
    // On click
    hamburger.addEventListener("click", function() {
    // Toggle class "is-active"
    hamburger.classList.toggle("is-active");
    mobile.classList.toggle("is-active");
    // Do something else, like open/close menu
    });