section.video
  .video__top
    .video__title
      | App Overview For
      br
      | Easy 
      span.video__title--colored Understanding
    p.video__text
      | Lorem ipsum dolor sit amet consectetur
      br
      | adipisicing elit. Quidem minus nam blandi
      br
      | laudantium voluptates explicabo, sed por
    .top__btn
      a.btn.btn__item(href='#')
        i.fa.fa-cc-jcb
        | DOWNLOAD FROM
        br
        span  APPLE STORE
      a.btn.btn__item--colored(href='#')
        i.fa.fa-cc-jcb
        | DOWNLOAD FROM
        br
        span  PLAY STORE
  .video__images
    img.video__post(src='img/video_poster.jpg' alt='')